<div class="row">
    <nav class="navbar navbar-default">
        <div class="container">
            <h1 class="text-center text-capitalize">Room {{ roomId }}</h1>
        </div>
        <!--<a class="text-right" href="/"><span class="glyphicon glyphicon-remove-sign"></span> Leave</a>-->
    </nav>

    <div class="row" id="player-list"></div>
</div>
<script>
    $.cookie.json = true;
    var socket = io();
    var room = '{{ roomId }}';

    var generateHash = function(len) {
        var symbols = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890';
        var hash = '';
        for (var i = 0; i < len; i++) {
            var symIndex = Math.floor(Math.random() * symbols.length);
            hash += symbols.charAt(symIndex);
        }
        return hash;
    };

    socket.on('connect', function(){
        var socketId = socket.id;
        var emitObject = {roomId: room, socketId: socketId};
        var cookie = $.cookie('dice');
        if(!cookie){
            var UUID = generateHash(10);
            $.cookie('dice', {UUID: UUID});
            emitObject['UUID'] = UUID;
            socket.emit('join', emitObject);
        } else {
            emitObject['UUID'] = cookie['UUID'];
            emitObject['userId'] = cookie['userId'];
            socket.emit('refresh', emitObject);
        }
    });

    /**
     * Update current user id
     */
    socket.on('newPlayerId', function(id){
        console.log('new player id', id);
        var cookie = $.cookie('dice');
        cookie['userId'] = id;
        $.cookie('dice', cookie);
    });

    var getPlayers = function(data){
        var cookie = $.cookie('dice');
        var currentUser = cookie['userId'];
        var currentUserObj = null;
        for(var i = 0; i <= data.length - 1; i++){
            if(data[i]['id'] == currentUser){
                currentUserObj = data[i];
                delete data[i];
            }
        }

        if(currentUserObj){
            data.unshift(currentUserObj);
        }

        console.log(data);
        return data;
    };

    var updateView = function(players){
        console.log(players);
        var playerHtml = '';

        for(var i = 0; i <= players.length - 1; i++){
            if(!players[i]){
                continue;
            }
            var readyClass = players[i]['ready'] == 0? 'text-danger':'text-success';
            var readyText = players[i]['ready'] == 0? 'Not Ready':'Ready';
            var readyButton = (i == 0)?'<button class="btn btn-info ready-button" data-id=' + players[i]['id'] + '>Ready</button>': '';
            var selfClass = (i == 0)?'col-xs-6 col-xs-offset-3': 'col-xs-6';
            playerHtml +=
                    '<div class="'+ selfClass +' player_' + players[i]['id'] +'">'
                    + '<div class="panel panel-default">'
                    + '<div class="panel-heading text-center">' + players[i]['nick_name'] +'</div>'
                    + '<div class="panel-body text-center">'
                    + '<div class="' + readyClass +' ready-status">' + readyText + '</div>'
                    + '<img src="/content/img/user_1.png" class="img-circle img-responsive center-block" style="width: 100px;">'
                    + '<div>'
                    + readyButton
                    + '</div>'
                    + '</div>'
                    + '</div>'
                    + '</div>';
        }

        if(playerHtml){
            $("#player-list").empty().html(playerHtml);
        }
    };

    //updateView(getPlayers({{{json players}}}));

    socket.on('updatePlayers', function(data){
        console.log(data);
        updateView(getPlayers(data));
    });

    $('.ready-button').on('click', function(){
        var oldStatus = $('.ready-status').text().toLowerCase() == 'ready'?1:0;
        var newStatus = oldStatus == 0? 1: 0;

        socket.emit('ready', {'player_id': $(this).data('id'), 'room_id': '{{ id }}', ready: newStatus});
    });

    socket.on('player_ready', function(data){
        console.log('player_ready', data);
        var findClass = 'player_' + data;
        var $readyStatus = $("." + findClass).find('.ready-status');
        if($readyStatus.hasClass('text-danger')){
            $readyStatus.removeClass('text-danger');
            $readyStatus.addClass('text-success');
            $readyStatus.text('Ready');
        } else {
            $readyStatus.removeClass('text-success');
            $readyStatus.addClass('text-danger');
            $readyStatus.text('Not Ready');
        }
    });

</script>