<div class="row">
    <nav class="navbar navbar-default">
        <div class="container">
            <h1 class="text-center text-capitalize">Room {{ roomId }}</h1>
        </div>
        <!--<a class="text-right" href="/"><span class="glyphicon glyphicon-remove-sign"></span> Leave</a>-->
    </nav>

    <div class="row" id="player-list"></div>
    <div class="row" id="playing"></div>
    <div class="row" id="play-result"></div>
</div>
<script>
    $(document).ready(function(){
        $.cookie.json = true;
        var socket = io();
        var roomId = '{{ roomId }}';
        var player = {{{json player}}};

        $.cookie('dice', {roomId: roomId, player: player});

        socket.on('connect', function(){
            var socketId = socket.id;
            socket.emit('join', {roomId: roomId, socketId: socketId, playerUID: player.UID});
        });

        var getPlayers = function(data){
            var cookie = $.cookie('dice');
            var currentUserId = cookie.player.UID;
            var currentUserObj = null;
            for(var i = 0; i <= data.length - 1; i++){
                if(data[i].UID == currentUserId){
                    currentUserObj = data[i];
                    data.splice(i, 1);
                }
            }

            if(currentUserObj){
                data.unshift(currentUserObj);
            }

            return data;
        };

        var updateView = function(data){
            var players = getPlayers(data.players);
            if(data.status == 'waiting'){
                $("#playing").empty().hide();
                $("#play-result").empty().hide();

                var playerHtml = '';
                var allReady = true;
                for(var i = 0; i <= players.length - 1; i++){
                    if(!players[i]){
                        continue;
                    }

                    allReady &= players[i].ready;
                    var readyClass = players[i]['ready']? 'text-success': 'text-danger';
                    var readyText = players[i]['ready']? 'Ready': 'Not Ready';
                    var readyButton = (i == 0)?'<button class="btn btn-info ready-button" data-id=' + players[i]['UID'] + ' style="width: 100px">Ready</button>': '';
                    var ownerButton = (i == 0 && players[i].owner)?'<div><button class="btn btn-success start-button" style="width: 100px; margin-top: 10px;" disabled = "disabled">Start</button></div>':'';
                    var selfClass = (i == 0)?'col-xs-6 col-xs-offset-3': 'col-xs-6';
                    playerHtml +=
                            '<div class="'+ selfClass +' player_' + players[i]['UID'] +'">'
                            + '<div class="panel panel-default">'
                            + '<div class="panel-heading text-center">' + players[i]['nickName'] +'</div>'
                            + '<div class="panel-body text-center">'
                            + '<div class="' + readyClass +' ready-status">' + readyText + '</div>'
                            + '<img src="/content/img/user_1.png" class="img-circle img-responsive center-block" style="width: 100px;">'
                            + '<div>'
                            + readyButton
                            + '</div>'
                            + ownerButton
                            + '</div>'
                            + '</div>'
                            + '</div>';
                }

                if(playerHtml){
                    $("#player-list").empty().html(playerHtml).show();
                }

                $('.ready-button').on('click', function(){
                    var UID = $(this).data('id');
                    var oldStatus = $('.player_' + UID).find('.ready-status').text().toLowerCase() == 'ready'?1:0;
                    var newStatus = !oldStatus;

                    var findClass = 'player_' + UID;
                    var $readyStatus = $("." + findClass).find('.ready-status');
                    if($readyStatus.hasClass('text-danger')){
                        $readyStatus.removeClass('text-danger');
                        $readyStatus.addClass('text-success');
                        $readyStatus.text('Ready');
                    } else {
                        $readyStatus.removeClass('text-success');
                        $readyStatus.addClass('text-danger');
                        $readyStatus.text('Not Ready');
                    }

                    socket.emit('ready', {'player_id': UID, 'room_id': roomId, ready: newStatus});
                });

                if(allReady){
                    $('.start-button')
                        .prop('disabled', null)
                        .on('click', function(e){
                            e.preventDefault();
                            socket.emit('gameStart', {'roomId': roomId});
                        });
                }
            } else if(data.status == 'playing'){
                $("#player-list").empty().hide();
                $("#play-result").empty().hide();

                var player = players[0];

                var playingHtml =
                        '<div class="row text-center" style="margin-top: 50px; margin-bottom: 100px"><h2>Your Round, Happy Haunting</h2></div>'
                        + '<div class="row">';


                for(var i = 0; i <= player.round.length - 1; i++){
                    playingHtml +=
                            '<div class="col-xs-2 ' + (i == 0?'col-xs-offset-1':'') +'"><img class="img-responsive center-block img-rounded" src="/content/img/dice_' + player.round[i] + '.png"></div>';
                }

                playingHtml += '<div class="col-xs-1"></div>'
                        + '</div>'
                        + '<div class="row" style="margin-top: 100px">'
                        + '<button class="btn btn-danger center-block btn-lg doubt-button">I Doubt It !!!</button>'
                        + '</div>';

                if(playingHtml){
                    $("#playing").empty().html(playingHtml).show();
                }

                $('.doubt-button').on('click', function(e){
                    e.preventDefault();
                    socket.emit('gameResult', {'roomId': roomId, 'doubter': player.UID});
                });

            } else if(data.status == 'result'){
                $("#player-list").empty().hide();
                $("#playing").empty().hide();

                var result = {
                    summary: {
                        dice1: 0,
                        dice2: 0,
                        dice3: 0,
                        dice4: 0,
                        dice5: 0,
                        dice6: 0
                    },
                    detail:{

                    }
                };

                var doubterName = null;

                console.log(players);
                for(i = 0; i <= players.length - 1; i++){
                    var player = players[i];
                    if(player.doubt){
                        doubterName = player.nickName;
                    }

                    result['detail'][player.nickName] = {dice1: 0, dice2: 0, dice3: 0, dice4: 0, dice5: 0, dice6: 0};

                    for(var j = 0; j <= player.round.length - 1; j++){
                        var dice = player.round[j];
                        result['summary']['dice' + dice] += 1;
                        result['detail'][player.nickName]['dice' + dice] += 1;
                    }
                }
                var resultHtml = '<div class="row text-center" style="margin-top: 30px; margin-bottom: 30px"><h2>Here Comes The Truth</h2></div>';
                resultHtml +=  '<div class="row text-center" style="margin-bottom: 20px"><h3 class="text-danger">' + doubterName + ' doubt it</h3></div>';

                resultHtml += '<div class="row" style="padding-left: 20px;padding-right: 20px;">';

                for(var i = 0; i <= 5; i++){
                    resultHtml += '<div class="col-xs-2">' +
                            '<img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_'+ (i+1) +'.png">' +
                            '</div>'
                }

                resultHtml += '</div>';

                resultHtml += '<div class="row" style="padding-left: 20px;padding-right: 20px;">';

                for(var i = 0; i <= 5; i++){
                    var count = result['summary']['dice' + (i + 1)];
                    resultHtml += '<div class="col-xs-2 text-center">' +
                            '<p><span class="label label-default">' + count + '</span></p>' +
                            '</div>'
                }

                resultHtml += '</div>';

                resultHtml += '<div class="row"> \
                                    <div class="col-xs-12"> \
                                        <table class="table table-responsive"> \
                                            <thead> \
                                            <tr> \
                                                <th class="text-center"><span class="label label-default">Players</span></th> \
                                                <th><img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_1.png"></th> \
                                                <th><img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_2.png"></th> \
                                                <th><img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_3.png"></th> \
                                                <th><img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_4.png"></th> \
                                                <th><img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_5.png"></th> \
                                                <th><img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_6.png"></th> \
                                            </tr> \
                                            </thead> \
                                            <tbody>';

                var firstList = true;

                for(var i in result['detail']){
                    if(firstList){
                        resultHtml += '<tr class="success"><td class="text-center"><span class="label label-default">You</span></td>';
                    } else {
                        resultHtml += '<tr><td class="text-center"><span class="label label-default">'+ i +'</span></td>';
                    }

                    for(var j in result['detail'][i]){
                        resultHtml += '<td class="text-center"><span class="label label-default">' + result['detail'][i][j] + '</span></td>'
                    }

                    firstList = false;

                    resultHtml += '</tr>';
                }

                resultHtml += '</tbody> \
                            </table> \
                        </div> \
                    </div>';

                resultHtml += '<div class="row" style="margin-top: 50px"><button class="btn btn-info center-block btn-lg again-button">Make Another Game!</button></div>';

                if(resultHtml){
                    $("#play-result").empty().html(resultHtml).show();
                }

                $('.again-button').on('click', function(e){
                    e.preventDefault();
                    socket.emit('gameRestart', {'roomId': roomId});
                })
            }
        };



        socket.on('updatePlayers', function(data){
            updateView(data);
        });
    });
</script>