<style>

</style>
<div class="row">
    <nav class="navbar navbar-default">
        <div class="container">
            <h1 class="text-center text-capitalize">Room 1234</h1>
        </div>
        <!--<a class="text-right" href="/"><span class="glyphicon glyphicon-remove-sign"></span> Leave</a>-->
    </nav>

    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#last-round-collapse" aria-expanded="false" aria-controls="collapseExample">Last Round</a>
    <div id="last-round-collapse" class="collapse">
        <div class="row" style="padding-left: 20px;padding-right: 20px;">
            <div class="col-xs-2">
                <img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_1.png">
            </div>

            <div class="col-xs-2">
                <img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_2.png">
            </div>

            <div class="col-xs-2">
                <img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_3.png">
            </div>

            <div class="col-xs-2">
                <img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_4.png">
            </div>

            <div class="col-xs-2">
                <img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_5.png">
            </div>

            <div class="col-xs-2">
                <img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_6.png">
            </div>
        </div>
        <div class="row" style="padding-left: 20px;padding-right: 20px;">
            <div class="col-xs-2 text-center">
                <p><span class="label label-default">4</span></p>
            </div>

            <div class="col-xs-2 text-center">
                <p><span class="label label-default">4</span></p>
            </div>

            <div class="col-xs-2 text-center">
                <p><span class="label label-default">4</span></p>
            </div>

            <div class="col-xs-2 text-center">
                <p><span class="label label-default">4</span></p>
            </div>

            <div class="col-xs-2 text-center">
                <p><span class="label label-default">4</span></p>
            </div>

            <div class="col-xs-2 text-center">
                <p><span class="label label-default">4</span></p>
            </div>
        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-xs-5">
            <img src="/content/img/user_1.png" class="img-circle img-responsive center-block" style="display: inline; width: 50px">
            <span class="label label-default">You</span>
        </div>
        <div class="col-xs-6 text-center" style="padding-top:10px">
            <button class="btn btn-info">Ready</button>
            <button class="btn btn-success" disabled = "disabled">Start</button>
        </div>
    </div>

    <div class="row bg-danger row-eq-height">
        <div class="col-xs-5">
            <img src="/content/img/user_1.png" class="img-circle img-responsive center-block" style="display: inline; width: 50px">
            <span class="label label-default">Mike</span>
        </div>
        <div class="col-xs-6 text-center" style="padding-top:10px">
            <button class="btn btn-info">Ready</button>
            <!--<button class="btn btn-success" disabled = "disabled">Start</button>-->
        </div>
    </div>

    <div class="row bg-success row-eq-height">
        <div class="col-xs-5">
            <img src="/content/img/user_1.png" class="img-circle img-responsive center-block" style="display: inline; width: 50px">
            <span class="label label-default">John</span>
        </div>
        <div class="col-xs-6 text-center" style="padding-top:10px">
            <button class="btn btn-info">Ready</button>
            <!--<button class="btn btn-success" disabled = "disabled">Start</button>-->
        </div>
    </div>

    <div class="row hidden" id="dice">
        <div class="row text-center" style="margin-top: 50px; margin-bottom: 100px">
            <h2>Happy Haunting</h2>
        </div>
        <div class="row" style="padding-left: 20px;padding-right: 20px;">
            <div class="col-xs-2">
                <img class="img-responsive center-block img-rounded" src="/content/img/dice_1.png">
            </div>

            <div class="col-xs-2">
                <img class="img-responsive center-block img-rounded" src="/content/img/dice_2.png">
            </div>

            <div class="col-xs-2">
                <img class="img-responsive center-block img-rounded" src="/content/img/dice_3.png">
            </div>

            <div class="col-xs-2">
                <img class="img-responsive center-block img-rounded" src="/content/img/dice_4.png">
            </div>

            <div class="col-xs-2">
                <img class="img-responsive center-block img-rounded" src="/content/img/dice_5.png">
            </div>

            <div class="col-xs-2">
                <img class="img-responsive center-block img-rounded" src="/content/img/dice_6.png">
            </div>
        </div>
        <div class="row" style="margin-top: 100px">
            <button class="btn btn-danger center-block btn-lg">Doubt</button>
        </div>
    </div>

    <div class="row hidden" id="result">
        <div class="row text-center" style="margin-top: 50px; margin-bottom: 20px">
            <h2>Here Comes The Truth</h2>
        </div>
        <div class="row text-center" style="margin-bottom: 20px">
            <h3 class="text-danger">Mike doubt it</h3>
        </div>
        <div class="row" style="padding-left: 20px;padding-right: 20px;">
            <div class="col-xs-2">
                <img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_1.png">
            </div>

            <div class="col-xs-2">
                <img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_2.png">
            </div>

            <div class="col-xs-2">
                <img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_3.png">
            </div>

            <div class="col-xs-2">
                <img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_4.png">
            </div>

            <div class="col-xs-2">
                <img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_5.png">
            </div>

            <div class="col-xs-2">
                <img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_6.png">
            </div>
        </div>

        <div class="row" style="padding-left: 20px;padding-right: 20px;">
            <div class="col-xs-2 text-center">
                <p><span class="label label-default">4</span></p>
            </div>

            <div class="col-xs-2 text-center">
                <p><span class="label label-default">4</span></p>
            </div>

            <div class="col-xs-2 text-center">
                <p><span class="label label-default">4</span></p>
            </div>

            <div class="col-xs-2 text-center">
                <p><span class="label label-default">4</span></p>
            </div>

            <div class="col-xs-2 text-center">
                <p><span class="label label-default">4</span></p>
            </div>

            <div class="col-xs-2 text-center">
                <p><span class="label label-default">4</span></p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th class="text-center"><span class="label label-default">Players</span></th>
                        <th><img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_1.png"></th>
                        <th><img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_2.png"></th>
                        <th><img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_3.png"></th>
                        <th><img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_4.png"></th>
                        <th><img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_5.png"></th>
                        <th><img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_6.png"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="success">
                        <td class="text-center"><span class="label label-default">Mike</span></td>
                        <td class="text-center"><span class="label label-default">1</span></td>
                        <td class="text-center"><span class="label label-default">2</span></td>
                        <td class="text-center"><span class="label label-default">3</span></td>
                        <td class="text-center"><span class="label label-default">4</span></td>
                        <td class="text-center"><span class="label label-default">1</span></td>
                        <td class="text-center"><span class="label label-default">1</span></td>
                    </tr>
                    <tr>
                        <td class="text-center"><span class="label label-default">John</span></td>
                        <td class="text-center"><span class="label label-default">3</span></td>
                        <td class="text-center"><span class="label label-default">2</span></td>
                        <td class="text-center"><span class="label label-default">0</span></td>
                        <td class="text-center"><span class="label label-default">2</span></td>
                        <td class="text-center"><span class="label label-default">0</span></td>
                        <td class="text-center"><span class="label label-default">1</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin-top: 50px">
            <button class="btn btn-info center-block btn-lg">Make Another Game!</button>
        </div>
    </div>
</div>