<style>

</style>
<div class="row">
    <nav class="navbar navbar-default">
        <div class="container">
            <h1 class="text-center text-capitalize">Room 1234</h1>
        </div>
        <!--<a class="text-right" href="/"><span class="glyphicon glyphicon-remove-sign"></span> Leave</a>-->
    </nav>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Nick Name 1</div>
                <div class="panel-body text-center">
                    <div class="text-success ready-status">READY</div>
                    <img src="/content/img/user_1.png" class="img-circle img-responsive center-block" style="width: 100px;">
                    <div>
                        <button class="btn btn-info">Ready</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Nick Name 1</div>
                <div class="panel-body text-center">
                    <div class="text-success ready-status">READY</div>
                    <img src="/content/img/user_1.png" class="img-circle img-responsive center-block" style="width: 100px;">
                    <div>
                        <button class="btn btn-info">Ready</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Nick Name 1</div>
                <div class="panel-body text-center">
                    <div class="text-success">READY</div>
                    <img src="/content/img/user_1.png" class="img-circle img-responsive center-block" style="width: 100px;">
                    <div>
                        <button class="btn btn-info">Ready</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Nick Name 1</div>
                <div class="panel-body text-center">
                    <div class="text-success">READY</div>
                    <img src="/content/img/user_1.png" class="img-circle img-responsive center-block" style="width: 100px;">
                    <div>
                        <button class="btn btn-info">Ready</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Nick Name 1</div>
                <div class="panel-body text-center">
                    <div class="text-success">READY</div>
                    <img src="/content/img/user_1.png" class="img-circle img-responsive center-block" style="width: 100px;">
                    <div>
                        <button class="btn btn-info">Ready</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>