<style>

</style>
<div class="row">
    <nav class="navbar navbar-default">
        <div class="container">
            <h1 class="text-center text-capitalize">Room 1234</h1>
        </div>
        <!--<a class="text-right" href="/"><span class="glyphicon glyphicon-remove-sign"></span> Leave</a>-->
    </nav>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Nick Name 1</div>
                <div class="panel-body text-center">
                    <div class="text-success ready-status">READY</div>
                    <img src="/content/img/user_1.png" class="img-circle img-responsive center-block" style="width: 100px;">
                    <div>
                        <button class="btn btn-info" style="width: 100px">Ready</button>
                    </div>
                    <div>
                        <button class="btn btn-success" style="width: 100px; margin-top: 10px;" disabled = "disabled">Start</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Nick Name 1</div>
                <div class="panel-body text-center">
                    <div class="text-success ready-status">READY</div>
                    <img src="/content/img/user_1.png" class="img-circle img-responsive center-block" style="width: 100px;">
                    <div>
                        <button class="btn btn-info">Ready</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Nick Name 1</div>
                <div class="panel-body text-center">
                    <div class="text-success">READY</div>
                    <img src="/content/img/user_1.png" class="img-circle img-responsive center-block" style="width: 100px;">
                    <div>
                        <button class="btn btn-info">Ready</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Nick Name 1</div>
                <div class="panel-body text-center">
                    <div class="text-success">READY</div>
                    <img src="/content/img/user_1.png" class="img-circle img-responsive center-block" style="width: 100px;">
                    <div>
                        <button class="btn btn-info">Ready</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Nick Name 1</div>
                <div class="panel-body text-center">
                    <div class="text-success">READY</div>
                    <img src="/content/img/user_1.png" class="img-circle img-responsive center-block" style="width: 100px;">
                    <div>
                        <button class="btn btn-info">Ready</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row hidden" id="dice">
        <div class="row text-center" style="margin-top: 50px; margin-bottom: 100px">
            <h2>Your Round</h2>
        </div>
        <div class="row">
            <div class="col-xs-2 col-xs-offset-1">
                <img class="img-responsive center-block img-rounded" src="/content/img/dice_1.png">
            </div>

            <div class="col-xs-2">
                <img class="img-responsive center-block img-rounded" src="/content/img/dice_2.png">
            </div>

            <div class="col-xs-2">
                <img class="img-responsive center-block img-rounded" src="/content/img/dice_3.png">
            </div>

            <div class="col-xs-2">
                <img class="img-responsive center-block img-rounded" src="/content/img/dice_4.png">
            </div>

            <div class="col-xs-2">
                <img class="img-responsive center-block img-rounded" src="/content/img/dice_5.png">
            </div>

            <div class="col-xs-1"></div>
        </div>
        <div class="row" style="margin-top: 100px">
            <button class="btn btn-danger center-block btn-lg">Doubt</button>
        </div>
    </div>

    <div class="row" id="result">
        <div class="row text-center" style="margin-top: 50px; margin-bottom: 50px">
            <h2>Results</h2>
        </div>
        <div class="row">
            <div class="col-xs-2 col-xs-offset-1">
                <img class="img-responsive center-block img-rounded" src="/content/img/dice_1.png">
            </div>

            <div class="col-xs-2">
                <img class="img-responsive center-block img-rounded" src="/content/img/dice_2.png">
            </div>

            <div class="col-xs-2">
                <img class="img-responsive center-block img-rounded" src="/content/img/dice_3.png">
            </div>

            <div class="col-xs-2">
                <img class="img-responsive center-block img-rounded" src="/content/img/dice_4.png">
            </div>

            <div class="col-xs-2">
                <img class="img-responsive center-block img-rounded" src="/content/img/dice_5.png">
            </div>

            <div class="col-xs-1"></div>
        </div>

        <div class="row">
            <div class="col-xs-2 col-xs-offset-1 text-center">
                <h1><span class="label label-default">4</span></h1>
            </div>

            <div class="col-xs-2 text-center">
                <h1><span class="label label-default">4</span></h1>
            </div>

            <div class="col-xs-2 text-center">
                <h1><span class="label label-default">4</span></h1>
            </div>

            <div class="col-xs-2 text-center">
                <h1><span class="label label-default">4</span></h1>
            </div>

            <div class="col-xs-2 text-center">
                <h1><span class="label label-default">4</span></h1>
            </div>

            <div class="col-xs-1"></div>
        </div>
        <div class="row" style="margin-top: 50px">
            <button class="btn btn-info center-block btn-lg">Make Another Game!</button>
        </div>
    </div>
</div>